{% extends "popup.html" %} {% block content %}


{% csrf_token %}
<!--- Seleccionar periodo a importar --->
<div class="form-inline row" style="justify-content: center;">
    <label for="periodo_importar" class="col-3 mr-2">Periodo a importar:</label>
    <select class="custom-select mr-2 w-100" id="periodo_importar" onchange="obtener_primera_clase_periodo()" required>
        <option value="" selected>Seleccione</option>
        {% for periodo in periodos %}
        {%if periodo.semestre != periodo_seleccionado %}
        <option value="{{programa.codigo}}/{{ periodo.semestre }}">{{ periodo.semestre }}</option>
        {%endif%}
        {% endfor %}
    </select>
</div>

<!--- Linea divisora --->
<div class="row" style="justify-content: center;">
    <hr class="w-75">
</div>

<div id="form-state" class="alert-warning mt-1 rounded" style="text-align: center; display: none;"></div>

<div id="form-options" style=" display: none;">
    <div class="form-inline row mt-3"style="justify-content: center;">
        <label class="col-4 mr-2" style="text-align: start;">Primera clase del periodo anterior:</label>
        <input type="text" disabled id="primera-clase" class="w-50"/>
    </div>

    <div  class="form-inline row mt-3"style="justify-content: center;">
        <label class="col-4 mr-2" style="text-align: start;">Primera clase del periodo actual:</label>
        <input type="date" id="primera-clase-actual" class="w-50 custom-select" onchange="validate_selected_date()"></input>
    </div>
    
    <div class="form-inline row mt-2" style="justify-content: center;">
        <div class="checkbox px-0">
            <div class="form-check d-flex btn" onclick="cambiar_checkbox_docente()">
                <div>
                    <div class="custom-control custom-switch mx-0"style="justify-content: center;">
                        <input id="incluir-docentes" type="checkbox" class="custom-control-input" checked/>
                        <label class="custom-control-label" for="checkbox">Incluir docentes</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="codigo_programa" name="codigo_programa" value='{{programa.codigo}}'/>
    <input type="hidden" id="periodo_actual" name="periodo_actual" value='{{periodo_seleccionado}}'/>

    <div id="error-label" class="alert-danger mt-3 rounded" style="text-align: center; display: none;">Esta acción sobreescribirá toda la malla actual</div>
</div>

<div class="row" style="justify-content: center;">
    <button id="submit-import" disabled class="btn btn-primary mt-2" onclick="send_import_request()">Importar malla</button>
</div>

{% endblock %}