{% extends "popup.html" %} {% block content %}
<h3 class="h2">Seleccionar día y horario</h3>
<form id="classForm" method="POST" action="/academico/cursos/{{curso.nrc}}/crear-clase">
  {% csrf_token %}


  <div class="form-group row justify-content-center">
    <label for="start_day" class="col-sm-2 col-form-label text-left">Día de inicio:</label>
    <div class="col-sm-8 text-right">
      <input type="datetime-local" id="start_day" name="start_day" class="form-control" required/>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <label for="end_day" class="col-sm-2 col-form-label text-left">Día de fin:</label>
    <div class="col-sm-8 text-right">
      <input type="datetime-local" id="end_day" name="end_day" class="form-control" required/>
    </div>
  </div>

  <span id="error-message" style="color: red;"></span>

  <script>
    document.getElementById('classForm').addEventListener('submit', function(event) {
      var start_day = new Date(document.getElementById('start_day').value);
      var end_day = new Date(document.getElementById('end_day').value);
      var diffMs = (end_day - start_day);
      var diffHrs = Math.floor(diffMs / 3600000); // hours
      if (diffHrs > 24) {
        event.preventDefault();
        // En lugar de mostrar una alerta, cambia el contenido del elemento de mensaje de error
        document.getElementById('error-message').textContent = 'La duración de la clase no puede ser mayor a 24 horas.';
      } else if (diffMs < 0) {
        event.preventDefault();
        // Si la fecha/hora de inicio es posterior a la fecha/hora de finalización, muestra un mensaje de error
        document.getElementById('error-message').textContent = 'La fecha/hora de inicio no puede ser posterior a la fecha/hora de finalización.';
      } else {
        // Si la duración es válida, asegúrate de que el mensaje de error esté vacío
        document.getElementById('error-message').textContent = '';
      }
    });
    </script>

  <div class="form-group row justify-content-center">
    <label for="tipo_espacio" class="col-sm-2 col-form-label text-left">Tipo de espacio:</label>
    <div class="col-sm-8 text-right">
      <select id="tipo_espacio" name="tipo_espacio" class="form-control" required>
        {% for espacio in espacios %}
        <option value="{{ espacio.id }}">{{ espacio.tipo }} : [{{espacio.capacidad}} MAX]</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <!-- Modalidad y tipo de espacio -->
  <div class="form-group row justify-content-center">
    <label for="modalidad" class="col-sm-2 col-form-label text-left">Modalidad:</label>
    <div class="col-sm-8 text right">
      <select id="modalidad_clase" name="modalidad_clase" class="form-control" required>
        {% for modalidad in modalidades %}
        <option value="{{modalidad.id}}">{{modalidad.metodologia}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <label for="modalidad" class="col-sm-2 col-form-label text-left">Docente Encargado:</label>
    <div class="col-sm-8 text-right">
      <select id="docente_clase" name="docente_clase" class="form-control", required>
        <option value="None">Sin asignar</option>
        {% for docente in docentes %}
        <option value="{{docente.cedula}}">{{docente.nombre}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <label for="num_semanas" class="col-sm-2 col-form-label text-left" style="white-space: nowrap;"
      >N° de semanas:</label>
    <div class="col-sm-8 text right">
      <input type="number" id="num_semanas" name="num_semanas" class="form-control" />
    </div>
  </div>

  <!-- Modalidad y tipo de espacio -->
  <div class="d-flex justify-content-center">
  <button class="btn btn-primary" type="submit" style="width: 250px; height: 50px;">Crear Clases</button>
  </div>
</form>

{% endblock %}
