{%extends 'base.html'%}
{% block content %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>404 Not found</title>
</head>
<body>
	<div id="notfound" class="justify-content-center align-content-center" style="display: grid;">
		<div class="notfound">
			<div class="notfound-404">
				<h1>4<span></span>4</h1>
			</div>
			<h2>Página no encontrada</h2>
			<p>Oops, parece que la página que buscas no está disponible, no existe o cambio de lugar.</p>
			<a href="/">Volver al inicio</a>
		</div>
	</div>

</body>
{% endblock %}
