{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="header">
    <h1 class="mt-2"> Docentes </h1>
  </div>
  <div class="card-body ml-2">
    <div class="row ml-2 mb-2" style="display: flex;">
      <div class="col x" style="flex-grow: 1;">
        <div class="wrap card card-body">
          <div class="col ml-2">
            <h2 style="text-align: left;"><strong>{{docente.nombre}}</strong></h2>
          </div>
          <div class="row">
            <div class="col">
              <img src="{{docente.foto}}" class="img-fluid rounded w-100"  alt="Profesor docente" >
            </div>
            <div class="col mr-2 ml-5" style="text-align: start;">
              <h5 strong>Correo electronico</strong>
              <label class="col">{{docente.email}}</label>
              <h5 strong>Cedula de ciudadania</strong>
              <label class="col">{{docente.cedula}}</label>
              <h5 strong>Ciudad</strong>
              <label class="col">{{docente.ciudad.ciudad}}</label>
              <h5 strong>Numero de telefono</strong>
              <label class="col">{{docente.telefono}}</label>
            </div>
            <div class="col mr-2 ml-2" style="text-align: start;">
              <h5 strong>Fecha de nacimiento</strong>
              <label class="col">{{docente.fechaNacimiento}}</label>
              <h5 strong>Contrato</strong>
              <label class="col">{{docente.contrato_codigo.tipo_contrato.tipo}}</label>
              <h5 strong>Estado</strong>
              <div class="col">
                {% if docente.estado.estado == "Activo" %}
                <button id="btnEstado" class="btn btn-secondary e p-2" style="border-radius: 8px; text-align: start; background-color: rgba(186, 250, 114, 0.773); width: 100%;">
                {% elif docente.estado.estado == "Inactivo" %}
                <button id="btnEstado" class="btn btn-secondary e p-2" style="border-radius: 8px; text-align: start; background-color: rgba(243, 119, 136 , 0.773);">
                {% elif docente.estado.estado == "Suspendido" %}
                <button id="btnEstado" class="btn btn-secondary e p-2" style="border-radius: 8px; text-align: start; background-color: rgba(253, 239, 139, 0.773);">
                {% elif docente.estado.estado == "Cancelado" %}
                <button id="btnEstado" class="btn btn-secondary e p-2" style="border-radius: 8px; text-align: start; background-color: rgba(156, 168, 236, 0.773);">
                {% endif %}
                  <div class="col">
                    <label class="col">{{docente.estado.estado}}</label>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-flex">
        <div class="col block card pt-2 ml-2 mr-2"style="height: 100%;">
          <h2>Experiencia/Títulos</h2>
          <div class="popover-region-toggle exp m-2 p-2" style="border-radius: 8px;text-align:start; background-color: rgba(89, 96, 196, 0.773);">
            <div class="col">
              <h4 strong>Maestría Gold</strong>
              <label class="col">2022</label>
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div class="card card-body">
      <div class="form-inline">
        <div class="col" style="text-align:start;">
          <h2>Clases</h2>
        </div>
        <div class="justify-content-end">
          Periodo selecionado:
          <select class="custom-select mr-2" id="periodo" onchange="cambiar_periodo()">
                {% for periodo in periodos %} 
                {% if periodo_seleccionado == periodo.semestre %}
            <option value="{{docente.cedula}}/{{ periodo.semestre }}" selected="true">{{ periodo.semestre }}</option>
            {% else %}
            <option value="{{docente.cedula}}/{{ periodo.semestre }}">{{ periodo.semestre }}</option>
            {% endif %} 
            {% endfor %}
          </select>
        </div>
      </div>
      <div class= "block card card-body mt-3 inner-shadow ">
        {% if clasesDocente.count == 0 %}
        <div class="alert alert-warning w-100" role="alert">No hay clases programados para este periodo</div>
        {% else %}
        <div class="row" style="display:flex;text-align:center;">
            {% for dia, day in dias_days  %}
            <div class="col" style="flex-grow: 1;">
                <h4 id="diaSemana" class="m-2 p-2" style="border-radius: 8px; background-color: rgba(32, 69, 137, 0.773); color:white;">
                  <span id="diaSemanaTexto">{{ day }}</span>
                </h4>
                {% for clase in clasesDocenteOrdenada %}
                {% if clase.fecha_inicio|date:"l" == dia %}
                <div class="row">
                  <div id="{{ clase.curso.nrc }}" class="color-1 frame m-2 p-2 btn outer-shadow" style="display:flex; height:auto;">
                      <div class="div">
                        <strong class="col title">{{ clase.curso.materia.nombre }} </strong>
                        <label class="col mb-2">Grupo {{ clase.curso.grupo }}</label>
                          <span class="text-wrapper col">{{ clase.fecha_inicio|date:"F j" }}</span>
                          <span class="span"> {{ clase.fecha_inicio|date:"g:i A"}} - {{ clase.fecha_fin|date:"g:i A" }}</span>
                      </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
      </div>
    </div>
  </div>
  
</div>
<!--popup para cambiar estado-->
<form method="POST" action="/usuarios/docentes/{{docente.cedula}}/{{ periodo_seleccionado}}">
{% csrf_token %}
  <div id="popup" style="display: none">
    <div class="modal moodle-has-zindex show background-shadow">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="popup-content form-group">

            <span class="close" onclick="closePopup()"></span>
            <h3 class="h2">Cambiar estado</h3>
            <select class="custom-select mr-2 mb-5" name="nuevoEstado">
              {% for estadodocente in estados %} 
                <option value="{{ estadodocente.id }}">{{ estadodocente.estado }}</option>
              {% endfor %}
            </select>
              <button class="btn btn-primary mb-5" type="submit">Actualizar</button>
            
          </div>
        </div>
      </div>
    </div>
    <div
      tabindex="-1"
      style="position: fixed; top: 0px; left: 0px"
      aria-hidden="true"
      data-aria-hidden-tab-index="0"
    ></div>
  </div>
</form>

<script>
  
  function cambiar_periodo() {
      var periodo = document.getElementById('periodo').value;
      var url = '/usuarios/docentes/' + periodo;
      window.location.href = url;
  }
  var popup = document.getElementById("popup");

  // Mostrar popup al hacer clic en "Nueva Clase"
  document.getElementById("btnEstado").onclick = function () {
    popup.style.display = "block";
  };

  // Cerrar popup al hacer clic en el botón de cerrar
  function closePopup() {
    popup.style.display = "none";
  }

  // Cerrar popup al dar click afuera
  window.onclick = function (event) {
    if (event.target == popup) {
      popup.style.display = "none";
    }
  };
</script>
{% endblock %}