{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="header">
    <h1 class="mt-2"> Docentes </h1>
  </div>
  <div class="card-body ml-2">
    <div class="row ml-2 mb-2" style="display: flex;">
      <div class="col x" style="flex-grow: 1;">
        <div class="wrap card card-body">
          <div class="col ml-2">
            <h2 style="text-align: left;"><strong>{{docente.nombre}}</strong></h2>
          </div>
          <div class="row">
            <div class="col">
              <img src="{% static 'img/d_AndresFelipeGalloSarria.jpg' %}" class="img-fluid" style="width: 200px; height: 150px;" alt="Profesor docente" >
            </div>
            <div class="col mr-2 ml-5" style="text-align: start;">
              <h5 strong>Correo electronico</strong>
              <label class="col">{{docente.email}}</label>
              <h5 strong>Cedula de ciudadania</strong>
              <label class="col">{{docente.cedula}}</label>
              <h5 strong>Ciudad</strong>
              <label class="col">{{docente.ciudad.ciudad}}</label>
              <h5 strong>Numero de telefono</strong>
              <label class="col">{{docente.telefono}}</label>
            </div>
            <div class="col mr-2 ml-2" style="text-align: start;">
              <h5 strong>Fecha de nacimiento</strong>
              <label class="col">{{docente.fechaNacimiento}}</label>
              <!--<div class="info-text">
                <div class="info-text-title"><h5>Codigo</h5></div>
                <div class="info-text-answer"><h6>{{docente.codigo}}</h6></div>
              </div>-->
              <h5 strong>Contrato</strong>
              <label class="col">{{docente.contrato_codigo.tipo_contrato.tipo}}</label>
              <h5 strong>Estado</strong>
              <div class="col">
                {% if docente.estado.estado == "Activo" %}
                <button id="btnEstado" class="btn btn-secondary e p-2" style="border-radius: 8px; text-align: start; background-color: rgba(186, 250, 114, 0.773); width: 100%;">
                {% elif docente.estado.estado == "Inactivo" %}
                <button id="btnEstado" class="btn btn-secondary e p-2" style="border-radius: 8px; text-align: start; background-color: rgba(243, 119, 136 , 0.773);">
                {% endif %}
                  <div class="col">
                    <label class="col">{{docente.estado.estado}}</label>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-flex">
        <div class="col block card pt-2 ml-2 mr-2"style="height: 100%;">
          <h2>Experiencia/Títulos</h2>
          <div class="popover-region-toggle exp m-2 p-2" style="border-radius: 8px;text-align:start; background-color: rgba(89, 96, 196, 0.773);">
            <div class="col">
              <h4 strong>Maestría Gold</strong>
              <label class="col">2022</label>
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div class="card card-body"> 
      <div class="x row" style="display:flex;text-align:center;">
        <div class="col" style="flex-grow: 1;">
          <h4 class="m-2 p-2"style="border-radius: 8px; background-color: rgba(32, 69, 137, 0.773); color:white;">Lunes</h4>
          <div style= "list-style-type: none;text-align:center;">
            <li>7:00</li>
            <li>7:30</li>
            <li>8:00</li>
          </div>
        </div>
        <div class="col" style="flex-grow: 1;">
          <h4 class="m-2 p-2"style="border-radius: 8px; background-color: rgba(32, 69, 137, 0.773); color:white;">Martes</h4>
          <div style= "list-style-type: none;text-align:center;">
            <li>7:00</li>
            <li>7:30</li>
            <li>8:00</li>
          </div>
        </div>
        <div class="col" style="flex-grow: 1;">
          <h4 class="m-2 p-2"style="border-radius: 8px; background-color: rgba(32, 69, 137, 0.773); color:white;">Miercoles</h4>
          <div style= "list-style-type: none;text-align:center;">
            <li>7:00</li>
            <li>7:30</li>
            <li>8:00</li>
          </div>
        </div>
        <div class="col" style="flex-grow: 1;">
          <h4 class="m-2 p-2"style="border-radius: 8px; background-color: rgba(32, 69, 137, 0.773); color:white;">Jueves</h4>
          <div style= "list-style-type: none;text-align:center;">
            <li>7:00</li>
            <li>7:30</li>
            <li>8:00</li>
          </div>
        </div>
        <div class="col" style="flex-grow: 1;">
          <h4 class="m-2 p-2"style="border-radius: 8px; background-color: rgba(32, 69, 137, 0.773); color:white;">Viernes</h4>
          <div style= "list-style-type: none;text-align:center;">
            <li>7:00</li>
            <li>7:30</li>
            <li>8:00</li>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-2 pt-2 buttons" style="display: flex; justify-content: flex-end;">
      <button type="submit" class="mr-2 btn btn-primary">Anterior</button>
      <button type="submit" class="btn btn-primary">Página principal</button>
  </div>  
  
</div>
<!--popup para cambiar estado-->
<div id="popup" style="display: none">
  <div class="modal moodle-has-zindex show background-shadow">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="popup-content form-group">

          <span class="close" onclick="closePopup()"></span>
          <h3 class="h2">Cambiar estado</h3>
          <select class="custom-select mr-2 mb-5" id="nuevoEstado" onchange="cambiar_periodo()">
            <option >{{docente.estado.estado}}</option>
            {% for estadodocente in estados %} 
              <option >{{estados.estado}}</option>
            {% endfor %} 
          </select>
            <button class="btn btn-primary mb-5" type="submit">Actualizar</button>
          
        </div>
      </div>
    </div>
  </div>
  <div
    tabindex="-1"
    style="position: fixed; top: 0px; left: 0px"
    aria-hidden="true"
    data-aria-hidden-tab-index="0"
  ></div>
</div>  

<script>
  var popup = document.getElementById("popup");

  // Mostrar popup al hacer clic en "Nueva Clase"
  document.getElementById("btnEstado").onclick = function () {
    popup.style.display = "block";
  };

  // Cerrar popup al hacer clic en el botón de cerrar
  function closePopup() {
    popup.style.display = "none";
  }

  // Cerrar popup al dar click afuera
  window.onclick = function (event) {
    if (event.target == popup) {
      popup.style.display = "none";
    }
  };
</script>
{% endblock %}