<!DOCTYPE html>
<html lang="es">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto CCSA</title>
  </head>
  <body>
    <div class="rui-topbar-wrapper">
      <div class="rui-topbar wrapper-page">
        <div class="d-inline-flex align-items-center">
          <div>
            <a href="/" class="rui-navbar-brand rui-navbar-brand--img">
              <span class="rui-logo">
                <img src="{% static 'img/logo-app.jpg' %}" alt="CCSA" />
              </span>
            </a>
          </div>
          <div class="rui-navbar-nav--sep d-inline-flex mx-1"></div>
        </div>
        <ul class="rui-icon-menu ml-auto">
          <li>
            <a class="btn btn-danger" href="/logout"> Cerrar sesion </a>
            <a
              class="popover-region-toggle rui-topbar-special-btn rui-tooltip--bottom ml-1 mr-1"
              data-title="Notificaciones"
            >
              <img src="{% static 'img/notifications_white.png' %}" />
            </a>
            <a
              class="popover-region-toggle rui-topbar-special-btn rui-tooltip--bottom mr-1"
              data-title="Mensajes"
            >
              <img src="{% static 'img/messages_white.png' %}" />
            </a>
          </li>
          <li class="m-0">
            <span class="userbutton"
              ><span class="avatars"
                ><span class="avatar current"
                  ><span class="userinitials size-56">AP</span></span
                ></span
              ></span
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="row mb-0">
      <div class="col-2">
        {% if side != null %}
        {% include side %}
        {% endif %}
      </div>
      <div class="container col pb-3"style="background-color: #f0f2f5;">
        {% block content %} {% endblock %}
      </div>
    </div>
    <footer id="s-page-footer" class="wrapper-page" style="text-align: center;">
      <div class="wrapper-fw">
        <div>
          <ul class="rui-footer--contact">
            <li>
              <img src="{% static 'img/world.png' %}" />
              <a class="ml-1" href="link-por-agregar-pendiente"
                >Oficina de servicios compartidos</a
              >
            </li>
            <li>
              <img src="{% static 'img/phone.png' %}" />
              <span class="ml-1">Teléfono: 5552334 ext 4188</span>
            </li>
            <li>
              <img src="{% static 'img/email.png' %}" />
              <a class="ml-1" href="mailto:Icesivirtual.ti@listas.icesi.edu.co"
                >Icesivirtual.ti@listas.icesi.edu.co</a
              >
            </li>
          </ul>
        </div>

        <div class="rui-footer-copy rui-footer-content">
          <p style="text-align: center">
            <strong>Adaptación:</strong>&nbsp;&nbsp;
            <a
              style="color: #222"
              href="https://www.icesi.edu.co/es/"
              target="_blank"
              >Icesi Virtual</a
            >
            |
            <a style="color: #222" target="_blank">Semestre 5 - sistemas</a>
          </p>
          <p style="text-align: center">
            <strong><span>Copyright © 2024 Universidad Icesi</span></strong>
          </p>
        </div>

        <div class="rui-footer--btns-box mt-3">
          <div id="course-footer"></div>

          <div class="rui-footer-btns">
            <div class="suportemail">
              <a href="link-por-agregar-pendiente"
                ><img
                  class="rui-icon icon"
                  alt=""
                  aria-hidden="true"
                  src="https://www.icesi.edu.co/moodle/theme/image.php/space/core/1708643485/t/email"
                />Contactar con el soporte del sitio</a
              >
            </div>
          </div>

          <div class="rui-footer-btns">
            <div class="tool_dataprivacy">
              <a href="link-por-agregar-pendiente"
                >Resumen de retención de datos</a
              >
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
