{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Crear curso</h1>

    <form method="POST">
        {% csrf_token %}

        <div class="form-group row">
            <div class="col">
                <label for="cantidad_de_cupos">Cantidad de cupos</label>
                <input type="text" id="cantidad_de_cupos" name="cantidad_de_cupos" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <label for="materia">Materia</label>
                <select name="materia" id="materia" class="form-control">
                    {% for materia in materias %}
                    <option value="{{ materia.codigo }}">{{ materia.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group row mb-3">
            <div class="col">
                <label for="periodo">Periodo Académico</label>
                <select name="periodo" id="periodo" class="form-control">
                    {% for periodo in periodos %}
                    <option value="{{ periodo.id }}">{{ periodo.semestre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <input type="submit" value="Crear curso" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
{% endblock %}