{% extends "popup.html" %} {% block content %}
<h3 class="h2">Seleccionar día y horario</h3>
<form id="classForm" method="POST" action="/academico/cursos/{{curso.nrc}}/crear-clase">
  {% csrf_token %}

  <div class="form-group row">
    <label for="start_day">Día de inicio:</label>
      <div class="col">
        <input type="datetime-local" id="start_day" name="start_day" required/>
      </div>
  </div>

  <div class="form-group row">
    <label for="end_day">Día de fin:</label>
      <div class="col">
        <input type="datetime-local" id="end_day" name="end_day" required/>
      </div>
  </div>

  <span id="error-message" style="color: red;"></span>

  <script>
    document.getElementById('classForm').addEventListener('submit', function(event) {
      var start_day = new Date(document.getElementById('start_day').value);
      var end_day = new Date(document.getElementById('end_day').value);
      var diffMs = (end_day - start_day);
      var diffHrs = Math.floor(diffMs / 3600000); // hours
      if (diffHrs > 24) {
        event.preventDefault();
        // En lugar de mostrar una alerta, cambia el contenido del elemento de mensaje de error
        document.getElementById('error-message').textContent = 'La duración de la clase no puede ser mayor a 24 horas.';
      } else if (diffMs < 0) {
        event.preventDefault();
        // Si la fecha/hora de inicio es posterior a la fecha/hora de finalización, muestra un mensaje de error
        document.getElementById('error-message').textContent = 'La fecha/hora de inicio no puede ser posterior a la fecha/hora de finalización.';
      } else {
        // Si la duración es válida, asegúrate de que el mensaje de error esté vacío
        document.getElementById('error-message').textContent = '';
      }
    });
    </script>

  <div class="form-group row">
    <label for="tipo_espacio">Tipo de espacio:</label>
    <div class="col">
      <select id="tipo_espacio" name="tipo_espacio" required>
        {% for espacio in espacios %}
        <option value="{{ espacio.id }}">{{ espacio.tipo }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  
  <!-- Modalidad y tipo de espacio -->
  <div class="form-group row">
    <label for="modalidad">Modalidad:</label>
    <div class="col">
      <select id="modalidad_clase" name="modalidad_clase" required>
        {% for modalidad in modalidades %}
        <option value="{{modalidad.id}}">{{modalidad.metodologia}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="modalidad">Docente Encargado:</label>
    <div class="col">
      <select id="docente_clase" name="docente_clase", required>
        <option value="None">Sin asignar</option>
        {% for docente in docentes %}
        <option value="{{docente.cedula}}">{{docente.nombre}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="num_semanas" class="col"
      >Numero de semanas que se dara esta clase:</label
    >
    <div class="col">
      <input type="number" id="num_semanas" name="num_semanas" />
    </div>
  </div>

  <!-- Modalidad y tipo de espacio -->

  <button class="btn btn-primary" type="submit">Crear Clases</button>
</form>

{% endblock %}
