{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1>Planeación de Curso</h1>
  <button id="nuevaClaseBtn" class="btn btn-primary">Nueva Clase</button>
</div>

<div id="popup" style="display: none">
  <div class="modal moodle-has-zindex show background-shadow">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="popup-content form-group">

          <span class="close" onclick="closePopup()"></span>
          <h3 class="h2">Seleccionar día y horario</h3>
          <form id="classForm"W>
            <div class="form-group row">
              <label for="day">Día:</label>
              <div class="col">
                <input type="date" id="day" name="day" />
              </div>
            </div>
            <div class="form-group row">
              <label for="time">Horario:</label>
              <div class="col">
                <input type="time" id="time" name="time" />
              </div>
            </div>
            <div class="form-group row">
              <label for="weeks">Número de semanas:</label>
              <div class="col">
                <input
                  class="form-control"
                  type="number"
                  id="weeks"
                  name="weeks"
                  min="1"
                  value="1"
                />
              </div>
            </div>

            <button class="btn btn-primary" type="submit">Crear Clases</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div
    tabindex="-1"
    style="position: fixed; top: 0px; left: 0px"
    aria-hidden="true"
    data-aria-hidden-tab-index="0"
  ></div>
</div>

<!-- Popup para seleccionar dia y horario -->
<script>
  var popup = document.getElementById("popup");

  // Mostrar popup al hacer clic en "Nueva Clase"
  document.getElementById("nuevaClaseBtn").onclick = function () {
    popup.style.display = "block";
  };

  // Cerrar popup al hacer clic en el botón de cerrar
  function closePopup() {
    popup.style.display = "none";
  }

  // Cerrar popup al dar click afuera
  window.onclick = function (event) {
    if (event.target == popup) {
      popup.style.display = "none";
    }
  };
</script>
{% endblock %}