{% extends 'base.html' %} {% block content %}

<head>
  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'js/programa.js' %}"></script>
</head>
<div class="container" style="text-align: start;">

  <h2 class="mt-2"><strong>{{ programa.codigo }}:</strong> {{ programa.nombre }}</h2>
  <label class="col ml-3"><strong>Facultad:</strong> {{ programa.facultad.nombre }}</label>
  <label class="col ml-3"><strong>Créditos totales:</strong> {{ creditos_totales }}</label>
  <label class="col ml-3"><strong>Cursos totales:</strong> {{ cursos_totales }}</label>
  <div class="row">
    <div class="row align-items-center">
      <div class="col card block inner-shadow p-3 mr-2">
        <div class="row align-items-center">
          <img class="rounded" src="{% static 'img/d_AndresFelipeGalloSarria.jpg' %}" style="width: 20%; height: 20%;">
          <div class="col">
            <label class="row m-3" style="text-align: start;"><strong>Director: </strong> &nbsp; {{ programa.director.nombre }}</label>
            <label class="row m-3" style="text-align: start;"><strong>Email: </strong> &nbsp; {{ programa.director.email }}</label>
            <label class="row m-3" style="text-align: start;"><strong>Teléfono: </strong> &nbsp; {{ programa.director.telefono }}</label>
          </div>
          <div class="col-2 h-100">
            <a class="btn btn-primary h-100" title="Enviar para aprobación">
              <img class="icon" src="{% static 'img/email.png' %}">
            </a>
          </div>
        </div>
        <div class="row align-items-center">
          <strong class="mr-2">Estado:</strong>
          <progress class="rui-tooltip--bottom" data-title="{{programa.estado_solicitud.nombre}}"min="1" max="4" value={{programa.estado_solicitud.estado}}>este es un elemento de progreso no soportado por tu navegador, prueba con otro</progress>
        </div>
      </div>
      <div class="col card block inner-shadow  p-3 pt-4 pb-3 ml-2">
        <div class="row align-items-center">
          <img class="rounded btn-warning p-2 img-reloj" src="{% static 'img/reloj.png' %}">
          <div class="col">
            <label class="row m-3" style="text-align: start;"><strong>Duración: </strong> &nbsp; {{ semestres }} semestres </label>
          </div>        
        </div>
        <div class="row align-items-center">
          <img class="rounded btn-warning p-2 img-dinero" src="{% static 'img/dinero.png' %}">
          <div class="col">
            <label class="row m-3" style="text-align: start;"><strong>Costo del semestre: </strong> &nbsp; 11.500.000 $ </label>
          </div>        
        </div>
        <div class="row align-items-center">
          <img class="rounded btn-warning p-2 img-pc" src="{% static 'img/pc.png' %}">
          <div class="col">
            <label class="row m-3" style="text-align: start;"><strong>Modalidad: </strong> &nbsp; {{modalidad}} </label>
          </div>        
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <div class="card">
          <div class="card-body">
              <h1 class="card-title bg-primary p-2 mb-4 text-white">Docentes</h1>
              <div class="docentes-container" style="display: flex; flex-wrap: wrap;">
                  {% if total_docentes == 0 %}
                  <div class="alert alert-warning w-100" role="alert">
                      No hay docentes asignados a este programa.
                  </div>
                  {% endif %}
                  {% for docente in docentes_con_clases %}
                  <div class="col-md-6 docente-item"
                      style="flex-basis: calc(50% - 20px); margin-right: 20px; margin-bottom: 20px;">
                      <div class="card btn-secondary linkeable" onclick="window.location.href ='/docentes/{{docente.cedula}}/{{periodo_seleccionado}}'">
                          <div class="card-body">
                              <div class="docente-info row">
                                  <img src="{{ docente.foto }}" alt="{{ docente.nombre }}"
                                      class="img-fluid docente-img rounded" style="max-width: 100px; height: auto;">
                                      <div class="col">
                                        <h5 style="margin-left: 10px;">{{ docente.nombre }}</h5>
                                        <h5 style="margin-left: 10px; margin-top: 10px;"> Materias: </h5>
                                        {% for materia in docente.lista_materias %}
                                        <label class="linkeable" style="margin-left: 20px;">- {{ materia.nombre }}</label>
                                        {% endfor %}
                                      </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
      </div>
    </div>
  </div>
  <!-- Tabla de materias -->
  <div class="block card card-body mt-3 inner-shadow">
    <div class="form-inline">
      <div class="col">
        <a id="btn-editar" class="btn-secondary rounded p-2 ml-2 linkeable"onclick="modo_edicion()"><img class="icon" src="{% static 'img/pencil.png' %}"></a>
        <a id="btn-guardar" class="btn-primary rounded p-2 ml-2 linkeable"onclick="guardar_malla()"style="display:none;"><img class="icon" src="{% static 'img/guardar.png' %}"></a>
        <strong>Malla curricular</strong>
      </div>
      <div class="justify-content-end">
        Periodo selecionado:
        <select class="custom-select mr-2" id="periodo" onchange="cambiar_periodo()">
              {% for periodo in periodos %} 
              {% if periodo_seleccionado == periodo.semestre %}
          <option value="{{programa.codigo}}/{{ periodo.semestre }}" selected="true">{{ periodo.semestre }}</option>
          {% else %}
          <option value="{{programa.codigo}}/{{ periodo.semestre }}">{{ periodo.semestre }}</option>
          {% endif %} 
          {% endfor %}
        </select>
      </div>

    </div>
    <div class="mt-2">
    {% if tamaño == 0 %}
      <div class="alert alert-warning w-100" role="alert">No hay materias en esta malla curricular</div>
    {% endif %}

    {% for semestre, materias in malla.items %}
      <div id="{{semestre}}" class="rounded m-2 row semestre_malla" style="background-color: #ebeaea;">
        <div class="frame m-2 justify-content-center" style="background-color: rgba(120, 120, 120, 0.773);"><strong style="width: 25px;">{{ semestre }}°</strong></div>
        {% for materia in materias %}
        
        <div id="{{materia.codigo}}" class="semestre_materia color-{{materia.color}} frame m-2 btn outer-shadow" onclick="window.location.href='/academico/materias/{{materia.codigo}}/{{periodo_seleccionado}}'">
          <div class="div">
            <strong class="title">{{materia.nombre}}</strong>
            <span class="text-wrapper span"><strong>Créditos:</strong> {{materia.creditos}}</span>
            <span class="text-wrapper span"><strong>Código:</strong> {{materia.codigo}}</span>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
    </div>
    {% if tamaño == 1 %}
    <div class="dropdown btn btn-primary">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Exportar <img class="icon" src="{% static 'img/download.webp' %}">
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'export_to_pdf' programa.codigo %}">PDF</a>
        <a class="dropdown-item" href="{% url 'export_to_excel' programa.codigo %}">Excel</a>
    </div>
    </div>
  {% endif %}  
  </div>
</div>

{% endblock %}