{% extends 'base.html' %} {% block content %}

<head>
  {% load static %}
  <script src="{% static 'js/clase.js' %}"></script>
</head>
<div class="container">
  <h2 class="mt-2"> <strong>{{ clase.id }}:</strong> {{ clase.modalidad.metodologia }}</h2>
  <div class="row">
    <label class="col" style="text-align: start;"><strong>Espacio Asignado:</strong> {{ clase.espacio_asignado }}</label>
    <label class="col" style="text-align: start;"><strong>Id Espacio:</strong> {{ clase.espacio }}</label>
  </div>
  <div class="row">
    <label class="col" style="text-align: start;"><strong>Creditos:</strong> {{ clase.fecha_inicio  }}</label>
    <label class="col" style="text-align: start;"><strong>Tipo:</strong> {{ clase.fecha_fin }}</label>
</div>
</div>

{% endblock %}