{% extends 'base.html' %} {% block content %}

<head>
  {% load static %}
  <script src="{% static 'js/clase.js' %}"></script>
</head>
<div class="container" style="text-align: start;">
  <h2 class="mt-2"><strong>{{ clase.modalidad.metodologia }}:</strong> {{ clase.id }}</h2>

  <div class="row">
      <label class="col ml-3" style="text-align: start;"><strong>Curso:</strong> {{ clase.curso.nrc }}</label>
      <label class="col ml-3" style="text-align: start;"><strong>Date Inicio:</strong> {{ clase.fecha_inicio }}</label>
      <label class="col ml-3" style="text-align: start;"><strong>Date Final:</strong> {{ clase.fecha_final }}</label>
  </div>
  </div class="row">
    <label class="col ml-3" style="text-align: start;"><strong>Docente:</strong> {{ clase.docente.nombre }}</label>
    <label class="col ml-3" style="text-align: start;"><strong>Espacio Asignado:</strong> {{ clase.espacio_asignado }}</label>
  </div>
</div>
</div class="row">

  {% endblock %}

</div>