{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  {% load static %}
  <script src="{% static 'js/clases.js' %}"></script>
</head>
<div class="container mt-6">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title bg-primary p-2 mb-4 text-white">Información básica del curso</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="card-text"><img src="{% static 'img/hashtag.png' %}" class="icon" alt="NRC">
                                <b>NRC: </b> {{ curso.nrc }}
                            </p>
                            <p class="card-text"><img src="{% static 'img/group.png' %}" class="icon" alt="Grupo">
                                <b>Grupo: </b> {{ curso.grupo }}
                            </p>
                            <p class="card-text"><img src="{% static 'img/curso.png' %}" class="icon"
                                    alt="Cantidad de Cupos"> <b>Cantidad de Cupos: </b> {{ curso.cupo }}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-text"><img src="{% static 'img/book.png' %}" class="icon" alt="Materia">
                                <b>Materia: </b>{{ curso.materia.nombre }}
                            </p>
                            <p class="card-text"><img src="{% static 'img/calendar.png' %}" class="icon" alt="Periodo">
                                <b>Periodo: </b> {{ curso.periodo.semestre }}
                            </p>
                            <p class="card-text"><img src="{% static 'img/reloj.png' %}" class="icon"
                                alt="Total horas programadas"> <b>Total horas programadas: </b> {{total_horas_programadas }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
          <div class="card">
              <div class="card-body">
                  <h1 class="card-title bg-primary p-2 mb-4 text-white">Docentes</h1>
                  <div class="docentes-container" style="display: flex; flex-wrap: wrap;">
                      {% if docentes_con_clases.count == 0 %}
                      <div class="alert alert-warning w-100" role="alert">
                          No hay docentes asignados a este curso.
                      </div>
                      {% endif %}
                      {% for docente in docentes_con_clases %}
                      <div class="col-md-6 docente-item"
                          style="flex-basis: calc(50% - 20px); margin-right: 20px; margin-bottom: 20px;">
                          <div class="card">
                              <div class="card-body">
                                  <div class="docente-info row">
                                      <img src="{{ docente.foto }}" alt="{{ docente.nombre }}"
                                          class="img-fluid docente-img rounded" style="max-width: 100px; height: auto;">
                                          <div class="col">
                                            <h5 style="margin-left: 10px;">{{ docente.nombre }}</h5>
                                            <label style="margin-left: 10px;">{{ docente.email }}</label>
                                            <label style="margin-left: 10px;">Número de clases: {{ docente.num_clases}}</label>
                                          </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title bg-primary p-2 mb-4 text-white">Clases</h1>
                    <div class="clases-container" style="display: flex; flex-wrap: wrap;">
                        {% if clases.count == 0 %}
                        <div class="alert alert-warning w-100" role="alert">
                            No hay clases creadas para este curso
                        </div>
                        {% endif %}
                        {% for clase in clases %}
                        <div class="col-md-6 clase-item"
                            style="flex-basis: calc(50% - 20px); margin-right: 20px; margin-bottom: 20px;">
                            <div class="card">
                                <div class="card-body">

                                    <div class="row row justify-content-center align-items-center">
                                        <h5 class="card-title flex-grow-1 text-center">Clase {{ forloop.counter }}</h5>
                                        <img id="{{clase.id}}" src="{% static 'img/pencil.png' %}" class="icon btn" onclick="show_pop(event,'{{clase.fecha_inicio}}', '{{clase.fecha_fin}}','{{clase.espacio_asignado}}','{{clase.espacio.id}}','{{clase.modalidad.id}}' ,'{{clase.docente.cedula}}')">
                                    </div>

                                    <p class="card-text">
                                        <img src="{% static 'img/calendar.png' %}" class="icon" alt="Fecha de Inicio">
                                        <strong>Fecha de Inicio:</strong> {{ clase.fecha_inicio }}
                                    </p>
                                    <p class="card-text">
                                        <img src="{% static 'img/calendar.png' %}" class="icon" alt="Fecha de Fin">
                                        <strong>Fecha de Fin:</strong> {{ clase.fecha_fin }}
                                    </p>
                                    <p class="card-text">
                                        <img src="{% static 'img/reloj.png' %}" class="icon" alt="Horas programadas">
                                        <strong>Horas programadas:</strong> {{ clase.horas_programadas }}
                                    </p>
                                    <p class="card-text">
                                        <img src="{% static 'img/location.png' %}" class="icon" alt="Espacio Asignado">
                                        <strong>Espacio Asignado:</strong> {{ clase.espacio_asignado }}
                                    </p>
                                    <p class="card-text">
                                        <img src="{% static 'img/user.png' %}" class="icon" alt="Docente">
                                        <strong>Docente:</strong> {{ clase.docente.nombre }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="editModal" style="display: none">
    <div class="modal moodle-has-zindex show background-shadow">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="popup-content form-group">
            <span class="close" onclick="hideEditModal()"></span>
            <h3 class="h2">Editar Clase</h3>
            <form id="editClassForm" method="POST" action="">
              {% csrf_token %}
              <input type="hidden" id="clase_id" name="clase_id">
              
            <label for="fecha_inicio">Fecha de Inicio:</label><br>
            <input type="datetime-local" id="fecha_inicio" name="fecha_inicio" required/><br>

            <label for="fecha_fin">Fecha de Fin:</label><br>
            <input type="datetime-local" id="fecha_fin" name="fecha_fin" required/><br>

            <span id="error-message_e" style="color: red; display: block; height: auto; visibility: visible;"></span>

            <label for="espacio_asignado">Espacio Asignado:</label><br>
            <input type="text" id="espacio_asignado" name="espacio_asignado" value="" disabled="true"/><br>

            <div class="form-group row">
                <label for="tipo_espacio">Tipo de espacio:</label>
                <div class="col">
                  <select id="tipo_espacio_e" name="tipo_espacio_e" required/>
                    {% for espacio in espacios %}
                    <option value="{{ espacio.id }}">{{ espacio.tipo }} </option>
                    {% endfor %}
                  </select>
                </div>
            </div>

            
            <div class="form-group row">
                <label for="modalidad_clase">Modalidad:</label>
                <div class="col">
                  <select id="modalidad_clase_e" name="modalidad_clase_e" required/>
                    {% for modalidad in modalidades %}
                    <option value="{{modalidad.id}}">{{modalidad.metodologia}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              
            <div class="form-group row">
                <label for="docente_clase">Docente Encargado:</label>
                <div class="col">
                  <select id="docente_clase_e" name="docente_clase_e" required/>
                    {% for docente in docentes %}
                    <option value="{{docente.cedula}}">{{docente.nombre}}</option>
                    {% endfor %}
                  </select>
                </div>
            </div>
                <button class="btn btn-primary" type="submit">Actualizar Clase</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      tabindex="-1"
      style="position: fixed; top: 0px; left: 0px"
      aria-hidden="true"
      data-aria-hidden-tab-index="0"
    ></div>
  </div>

<script>
    var editModal = document.getElementById("editModal");
  
    // Cerrar popup al hacer clic en el botón de cerrar
    function closePopup() {
        editModal.style.display = "none";
    }
  
    // Cerrar popup al dar clic afuera
    window.onclick = function (event) {
      if (event.target == editModal) {
        editModal.style.display = "none";
      }
    };
</script>

<script>
    document.getElementById('editClassForm').addEventListener('submit', function(event) {
        var start_day = new Date(document.getElementById('fecha_inicio').value.replace('T', ' ') + ' UTC');
        var end_day = new Date(document.getElementById('fecha_fin').value.replace('T', ' ') + ' UTC');
        var diffMs = (end_day - start_day);
        var diffHrs = Math.floor(diffMs / 3600000); // hours
        if (diffHrs > 24) {
            event.preventDefault();
            // En lugar de mostrar una alerta, cambia el contenido del elemento de mensaje de error
            document.getElementById('error-message_e').textContent = 'La duración de la clase no puede ser mayor a 24 horas.';
          } else if (diffMs < 0) {
            event.preventDefault();
            // Si la fecha/hora de inicio es posterior a la fecha/hora de finalización, muestra un mensaje de error
            document.getElementById('error-message_e').textContent = 'La fecha/hora de inicio no puede ser posterior a la fecha/hora de finalización.';
          } else {
            // Si la duración es válida, asegúrate de que el mensaje de error esté vacío
            document.getElementById('error-message_e').textContent = '';
          }
        });
</script>

{% endblock %}

{% block extra_js %}
<script src="{% static 'academico/js/popup.js' %}"></script>
{% endblock %}

