{% extends 'base.html' %} {% block content %}

<head>
  {% load static %}
  <script src="{% static 'js/clase.js' %}"></script>
</head>
<div class="container" style="text-align: start;">
  <h2 class="mt-2"><strong>{{ clase.modalidad.metodologia }}: </strong> G{{ clase.id }}</h2>

  <div class="col">
    <div class="row">
      <label class="col ml-3" style="text-align: start;"><strong>Curso:</strong> {{ clase.curso.nrc }}</label>
    </div>
    <div class="row">
      <label class="col ml-3" style="text-align: start;"><strong>Date Inicio:</strong> {{ clase.fecha_inicio }}</label>
      <label class="col ml-3" style="text-align: start;"><strong>Date Final:</strong> {{ clase.fecha_fin }}</label>
    </div>
    <div class="row">
      <label class="col ml-3" style="text-align: start;"><strong>Docente:</strong> {{ clase.docente.nombre }}</label>
      <label class="col ml-3" style="text-align: start;"><strong>Espacio Asignado:</strong> {{ clase.espacio_asignado }}</label>
    </div>
    <!-- Aquí es donde agregas el formulario -->
    <div class="row">
      <form method="POST" action="{% url 'cambio_docente' clase.id %}">
        {% csrf_token %}
        <select id="docente_clase" name="docente_clase">
          {% for docente in docentes %}
            <option value="{{ docente.cedula }}"{{docente.nombre}} {% if docente.cedula == clase.docente.cedula %}selected{% endif %}> {{ docente.nombre }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Cambiar docente">
      </form>
    </div>
  </div>
</div>

{% endblock %}

