{% extends 'base.html' %} {% block content %}

<head>
  {% load static %}
  <script src="{% static 'js/materia.js' %}"></script>
  <script src="{% static 'js/popup.js' %}"></script>
</head>
<div class="container" style="text-align: start;">
  <h2 class="mt-2"><strong>{{ materia.nombre }}:</strong> {{ materia.codigo }}</h2>

  <div class="row">
      <label class="col ml-3" style="text-align: start;"><strong>Departamento:</strong> {{ materia.departamento.nombre }} </label>
      <label class="col ml-3" style="text-align: start;"><strong>Creditos:</strong> {{ materia.creditos }}</label>
      
  </div>
  <div class="row">
    <label class="col ml-3" style="text-align: start;"><strong>Tipo:</strong> {{ materia.nombre }}</label>
    <label class="col ml-3" style="text-align: start;"><strong># de Cursos Totales:</strong> {{ c_numT }}</label>
  </div>

</div>

<div class="row mt-4">
  <div class="col-md-12">
      <div class="card">
          <div class="card-body">
              <h1 class="card-title bg-primary p-2 mb-4 text-white">Docentes</h1>
              <div class="docentes-container" style="display: flex; flex-wrap: wrap;">
                  {% if total_docentes == 0 %}
                  <div class="alert alert-warning w-100" role="alert">
                      No hay docentes asignados a esta materia.
                  </div>
                  {% endif %}
                  {% for docente in docentes_con_clases %}
                  <div class="pr-1 pl-1">
                      <div class="card btn-secondary linkeable" onclick="window.location.href ='/docentes/{{docente.cedula}}/{{periodo_seleccionado}}'">
                          <div class="card-body">
                              <div class="docente-info row" style="justify-content: center;">
                                  <img src="{{ docente.foto }}" alt="{{ docente.nombre }}"
                                      class="img-fluid docente-img rounded" style="max-width: 100px; height: auto;">
                                      <div class="col">
                                        <h5 style="margin-left: 10px;">{{ docente.nombre }}</h5>
                                        <h5 style="margin-left: 10px; margin-top: 10px;"> Cursos: </h5>
                                        {% for curso in docente.cursos %}
                                        <label class="linkeable" style="margin-left: 20px;">- Grupo {{ curso.grupo }}</label>
                                        {% endfor %}
                                      </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
      </div>
  </div>
</div>

  <!-- Tabla de cursos -->
  <div class="block card card-body mt-3 inner-shadow">
    <div class="form-inline">
      <div class="col">
        <strong>Cursos</strong>
      </div>
      <div class="justify-content-end">
        Periodo selecionado:
        <select class="custom-select mr-2" id="periodo" onchange="cambiar_periodo()">
              {% for periodo in periodos %} 
              {% if periodo_seleccionado == periodo.semestre %}
          <option value="{{materia.codigo}}/{{ periodo.semestre }}" selected="true">{{ periodo.semestre }}</option>
          {% else %}
          <option value="{{materia.codigo}}/{{ periodo.semestre }}">{{ periodo.semestre }}</option>
          {% endif %} 
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="block card card-body mt-3 inner-shadow">
      <div class="mt-2">
      <div class="rounded m-2 row semestre_malla">
        {% if cursos.count == 0 %}
        <div class="alert alert-warning w-100" role="alert">No hay cursos programados para este periodo</div>
        {% else %}
        <div class="frame m-2 justify-content-center" style="background-color: rgba(120, 120, 120, 0.773);"><strong style="width: 25px;"> {{c_num}}</strong></div>
        {% endif %}
          {% for curso in cursos %} 
          <div id="{{curso.nrc}}" class="semestre_materia color-{{cursos.color}} frame m-2 btn outer-shadow" onclick="window.location.href='/academico/cursos/{{curso.nrc}}'" style="width: 100px;">
            <div class="div">
              <strong class="title mb-2">Grupo {{curso.grupo}}</strong>
              <span class="text-wrapper span"> NRC: {{curso.nrc}}</span>
              <span class="text-wrapper span"> Cupos:{{curso.cupo}}</span>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {%if user.is_lider %}
      <a class="btn btn-primary mt-2"  onclick="show()" id="Ncurso">Nuevo curso<img class="icon" src="{% static 'img/add.webp' %}"></a>
      {% include 'crear-curso.html' with popup_title="Crear curso"%}
    {% endif %}
  </div>
</div>
</div class="row">
  <style>
      .pr-1.pl-1 {
          width: 50%;
      }
  
      @media (max-width: 400px) {
          .pr-1.pl-1 {
              width: 100%;
          }
      }
  </style>

  {% endblock %}

</div>
