{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Solicitudes</title>
    {% load static %}
    <script src="{% static 'js/busqueda_solicitud.js' %}"></script>
</head>


<div class="container">
    <h1 class="display-3 align-center">Lista de solicitudes</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Responsable</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitudespacio in solicitudespacios %}
            <tr>
                <td>{{ solicitudespacio.id }}</td>
                <td>{{ solicitudespacio.responsable.usuario }}</td>
                <td>{{ solicitudespacio.estado }}</td>
                <td>
                    <form method="post" action="{% url 'asignar_espacio' solicitudespacio.id %}">
                        {% csrf_token %}
                        <select name="espacio_asignado">
                            {% for espacio in espaciosclase %}
                            <option value="{{espacio.id}}">{{espacio.numero}} {{espacio.edificio}} {{espacio.tipo.tipo}}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary"  onclick="Solicitud_Salones()">Solicitar Salones<img class="icon" src="{% static 'img/Solicitud.png' %}"></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>        
</div>
{% endblock %}