{%load static %}
<div class="side">
  <div class="col">
    <div class="border-bottom">
        <div class="btn-secondary btn w-75 mt-2 mb-2" onclick="window.history.back();">
            <img class="icon" src="{% static 'img/arrow_back.png' %}"> 
            <strong>Anterior</strong>
        </div>
    </div>
    <div class="pt-3 pl-3 pr-3 text-wrapper">Secciones</div>
    <div class="btn"></div>
    <a class="section-button btn btn-secondary" href="/solicitud/crear_viatico">
      <div class="frame-wrapper">
        <div class="state-btn">
          <div class="state-{{info.seleccionado}}"></div>
        </div>
      </div>
      <div class="nombre-de-seccion">Solicitar viático</div>
    </a>
  </div>
</div>